html {
    font-family: "Lato", cursive;
    font-optical-sizing: auto;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #cce7ff;
}

h1 {
    text-align: center;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 120px;
    margin: 0;
    margin-top: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.tools,
.canvas-settings {
    background-color: #f0f8ff;
    width: 350px;
    height: 500px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.canvas-settings {
    justify-content: center;
    gap: 64px;
}

.size-settings,
.color-settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.btn {
    padding: 16px 16px;
    width: 80%;
    font-family: inherit;
    font-size: 16px;
    background-color: #fff7f0;
    border: solid 2px black;
    border-radius: 12px;
    font-weight: 600;
}

.active {
    background-color: #ffa556;
    color: white;
}

.btn:hover {
    cursor: pointer;
}

.rounded-color-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.rounded-color-input::-webkit-color-swatch {
    border-radius: 32px;
    border: none;
}
.rounded-color-input::-moz-color-swatch {
    border-radius: 32px;
    border: none;
}

input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 15px;
    background: #e4e3e3;
    border-radius: 16px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: -407px 0 0 400px #ffa556;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: -407px 0 0 400px #313131;
}

.canvas {
    background-color: #fffffe;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 500px;
    height: 500px;
}

.square {
    outline: 1px dotted lightgrey;
}

footer {
    background-color: #f0f8ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 69px;
    font-family: inherit;
}

footer p {
    font-size: 20px;
}

a:visited {
    color: black;
}

.socials {
    display: flex;
}

.socials i {
    margin-left: 18px;
    color: black;
    transition: all 500ms;
}

.socials i:hover {
    transform: scale(1.5);
}

.social-icon {
    color: #2d334a;
}

#clearCanvas:active {
    background-color: #ffa556;
    color: white;
}

label[for="gridSize"] {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text {
    font-family: lato;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}
